<a href="https://colab.research.google.com/github/AndreaDAlcantara/DS_Portfolio/blob/main/Census.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploratory Data Analysis - CVS files**

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/SCPRC-EST2022-18+POP.csv")
df

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Estimates of the Total Resident Population and...,NaN,NaN,NaN,NaN
1,Geographic Area,Total Resident\nPopulation,Resident Population Age 18\n Years and Older,NaN,NaN
2,NaN,NaN,Number,Percent,NaN
3,United States,"333,287,557","260,836,730",78.3,NaN
4,Northeast,"57,040,406","45,544,589",79.8,NaN
...,...,...,...,...,...
61,Note: The estimates are developed from a base ...,NaN,NaN,NaN,NaN
62,Suggested Citation:,NaN,NaN,NaN,NaN
63,Estimates of the Total Resident Population and...,NaN,NaN,NaN,NaN
64,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN
65,Release Date: December 2022,NaN,NaN,NaN,NaN

Drop rows with NaN values.

In [ ]:
df = df.dropna(how='all')
df = df.dropna(how='all',axis='columns')
df = df.dropna(thresh=len(df.columns)-1)
df

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3
1,Geographic Area,Total Resident\nPopulation,Resident Population Age 18\n Years and Older,NaN
3,United States,"333,287,557","260,836,730",78.3
4,Northeast,"57,040,406","45,544,589",79.8
5,Midwest,"68,787,595","53,626,659",78.0
6,South,"128,716,192","100,098,310",77.8
7,West,"78,743,364","61,567,172",78.2
8,.Alabama,"5,074,296","3,962,734",78.1
9,.Alaska,"733,583","557,060",75.9
10,.Arizona,"7,359,197","5,770,187",78.4
11,.Arkansas,"3,045,637","2,348,518",77.1
12,.California,"39,029,342","30,523,315",78.2
13,.Colorado,"5,839,926","4,624,351",79.2
14,.Connecticut,"3,626,205","2,895,175",79.8
15,.Delaware,"1,018,396","810,269",79.6
16,.District of Columbia,"671,803","547,328",81.5
17,.Florida,"22,244,823","17,948,469",80.7
18,.Georgia,"10,912,876","8,402,753",77.0
19,.Hawaii,"1,440,196","1,142,870",79.4
20,.Idaho,"1,939,033","1,475,629",76.1
21,.Illinois,"12,582,032","9,861,901",78.4
22,.Indiana,"6,833,037","5,263,114",77.0
23,.Iowa,"3,200,517","2,476,028",77.4
24,.Kansas,"2,937,150","2,246,318",76.5
25,.Kentucky,"4,512,310","3,507,735",77.7
26,.Louisiana,"4,590,241","3,528,548",76.9
27,.Maine,"1,385,340","1,137,442",82.1
28,.Maryland,"6,164,660","4,818,071",78.2
29,.Massachusetts,"6,981,974","5,644,540",80.8
30,.Michigan,"10,034,113","7,924,418",79.0
31,.Minnesota,"5,717,184","4,423,022",77.4
32,.Mississippi,"2,940,057","2,261,996",76.9
33,.Missouri,"6,177,957","4,813,049",77.9
34,.Montana,"1,122,867","889,114",79.2
35,.Nebraska,"1,967,923","1,491,246",75.8
36,.Nevada,"3,177,772","2,487,994",78.3
37,.New Hampshire,"1,395,231","1,142,307",81.9
38,.New Jersey,"9,261,699","7,267,590",78.5
39,.New Mexico,"2,113,344","1,653,831",78.3
40,.New York,"19,677,151","15,687,863",79.7
41,.North Carolina,"10,698,973","8,404,094",78.6
42,.North Dakota,"779,261","596,486",76.5
43,.Ohio,"11,756,058","9,193,508",78.2
44,.Oklahoma,"4,019,800","3,066,654",76.3
45,.Oregon,"4,240,137","3,403,149",80.3
46,.Pennsylvania,"12,972,008","10,347,543",79.8
47,.Rhode Island,"1,093,734","889,822",81.4
48,.South Carolina,"5,282,634","4,164,762",78.8
49,.South Dakota,"909,824","690,659",75.9
50,.Tennessee,"7,051,339","5,513,202",78.2
51,.Texas,"30,029,572","22,573,234",75.2
52,.Utah,"3,380,800","2,449,192",72.4
53,.Vermont,"647,064","532,307",82.3
54,.Virginia,"8,683,619","6,816,709",78.5
55,.Washington,"7,785,786","6,139,213",78.9
56,.West Virginia,"1,775,156","1,423,234",80.2
57,.Wisconsin,"5,892,539","4,646,910",78.9
58,.Wyoming,"581,381","451,267",77.6
60,Puerto Rico,"3,221,789","2,703,450",83.9

Turn 1st row into column names.

In [ ]:
header_row = df.iloc[0]
df2 = pd.DataFrame(df.values[1:], columns=header_row)
df2

1,Geographic Area,Total Resident\nPopulation,Resident Population Age 18\n Years and Older,NaN
0,United States,"333,287,557","260,836,730",78.3
1,Northeast,"57,040,406","45,544,589",79.8
2,Midwest,"68,787,595","53,626,659",78.0
3,South,"128,716,192","100,098,310",77.8
4,West,"78,743,364","61,567,172",78.2
5,.Alabama,"5,074,296","3,962,734",78.1
6,.Alaska,"733,583","557,060",75.9
7,.Arizona,"7,359,197","5,770,187",78.4
8,.Arkansas,"3,045,637","2,348,518",77.1
9,.California,"39,029,342","30,523,315",78.2
10,.Colorado,"5,839,926","4,624,351",79.2
11,.Connecticut,"3,626,205","2,895,175",79.8
12,.Delaware,"1,018,396","810,269",79.6
13,.District of Columbia,"671,803","547,328",81.5
14,.Florida,"22,244,823","17,948,469",80.7
15,.Georgia,"10,912,876","8,402,753",77.0
16,.Hawaii,"1,440,196","1,142,870",79.4
17,.Idaho,"1,939,033","1,475,629",76.1
18,.Illinois,"12,582,032","9,861,901",78.4
19,.Indiana,"6,833,037","5,263,114",77.0
20,.Iowa,"3,200,517","2,476,028",77.4
21,.Kansas,"2,937,150","2,246,318",76.5
22,.Kentucky,"4,512,310","3,507,735",77.7
23,.Louisiana,"4,590,241","3,528,548",76.9
24,.Maine,"1,385,340","1,137,442",82.1
25,.Maryland,"6,164,660","4,818,071",78.2
26,.Massachusetts,"6,981,974","5,644,540",80.8
27,.Michigan,"10,034,113","7,924,418",79.0
28,.Minnesota,"5,717,184","4,423,022",77.4
29,.Mississippi,"2,940,057","2,261,996",76.9
30,.Missouri,"6,177,957","4,813,049",77.9
31,.Montana,"1,122,867","889,114",79.2
32,.Nebraska,"1,967,923","1,491,246",75.8
33,.Nevada,"3,177,772","2,487,994",78.3
34,.New Hampshire,"1,395,231","1,142,307",81.9
35,.New Jersey,"9,261,699","7,267,590",78.5
36,.New Mexico,"2,113,344","1,653,831",78.3
37,.New York,"19,677,151","15,687,863",79.7
38,.North Carolina,"10,698,973","8,404,094",78.6
39,.North Dakota,"779,261","596,486",76.5
40,.Ohio,"11,756,058","9,193,508",78.2
41,.Oklahoma,"4,019,800","3,066,654",76.3
42,.Oregon,"4,240,137","3,403,149",80.3
43,.Pennsylvania,"12,972,008","10,347,543",79.8
44,.Rhode Island,"1,093,734","889,822",81.4
45,.South Carolina,"5,282,634","4,164,762",78.8
46,.South Dakota,"909,824","690,659",75.9
47,.Tennessee,"7,051,339","5,513,202",78.2
48,.Texas,"30,029,572","22,573,234",75.2
49,.Utah,"3,380,800","2,449,192",72.4
50,.Vermont,"647,064","532,307",82.3
51,.Virginia,"8,683,619","6,816,709",78.5
52,.Washington,"7,785,786","6,139,213",78.9
53,.West Virginia,"1,775,156","1,423,234",80.2
54,.Wisconsin,"5,892,539","4,646,910",78.9
55,.Wyoming,"581,381","451,267",77.6
56,Puerto Rico,"3,221,789","2,703,450",83.9

Rename columns.

In [ ]:
df2.columns = ['Region','Total_Pop','Total_Pop_Over18','Perc_Over18']
df2

                   Region    Total_Pop Total_Pop_Over18 Perc_Over18
0           United States  333,287,557      260,836,730        78.3
1               Northeast   57,040,406       45,544,589        79.8
2                 Midwest   68,787,595       53,626,659        78.0
3                   South  128,716,192      100,098,310        77.8
4                    West   78,743,364       61,567,172        78.2
5                .Alabama    5,074,296        3,962,734        78.1
6                 .Alaska      733,583          557,060        75.9
7                .Arizona    7,359,197        5,770,187        78.4
8               .Arkansas    3,045,637        2,348,518        77.1
9             .California   39,029,342       30,523,315        78.2
10              .Colorado    5,839,926        4,624,351        79.2
11           .Connecticut    3,626,205        2,895,175        79.8
12              .Delaware    1,018,396          810,269        79.6
13  .District of Columbia      671,803          547,328        81.5
14               .Florida   22,244,823       17,948,469        80.7
15               .Georgia   10,912,876        8,402,753        77.0
16                .Hawaii    1,440,196        1,142,870        79.4
17                 .Idaho    1,939,033        1,475,629        76.1
18              .Illinois   12,582,032        9,861,901        78.4
19               .Indiana    6,833,037        5,263,114        77.0
20                  .Iowa    3,200,517        2,476,028        77.4
21                .Kansas    2,937,150        2,246,318        76.5
22              .Kentucky    4,512,310        3,507,735        77.7
23             .Louisiana    4,590,241        3,528,548        76.9
24                 .Maine    1,385,340        1,137,442        82.1
25              .Maryland    6,164,660        4,818,071        78.2
26         .Massachusetts    6,981,974        5,644,540        80.8
27              .Michigan   10,034,113        7,924,418        79.0
28             .Minnesota    5,717,184        4,423,022        77.4
29           .Mississippi    2,940,057        2,261,996        76.9
30              .Missouri    6,177,957        4,813,049        77.9
31               .Montana    1,122,867          889,114        79.2
32              .Nebraska    1,967,923        1,491,246        75.8
33                .Nevada    3,177,772        2,487,994        78.3
34         .New Hampshire    1,395,231        1,142,307        81.9
35            .New Jersey    9,261,699        7,267,590        78.5
36            .New Mexico    2,113,344        1,653,831        78.3
37              .New York   19,677,151       15,687,863        79.7
38        .North Carolina   10,698,973        8,404,094        78.6
39          .North Dakota      779,261          596,486        76.5
40                  .Ohio   11,756,058        9,193,508        78.2
41              .Oklahoma    4,019,800        3,066,654        76.3
42                .Oregon    4,240,137        3,403,149        80.3
43          .Pennsylvania   12,972,008       10,347,543        79.8
44          .Rhode Island    1,093,734          889,822        81.4
45        .South Carolina    5,282,634        4,164,762        78.8
46          .South Dakota      909,824          690,659        75.9
47             .Tennessee    7,051,339        5,513,202        78.2
48                 .Texas   30,029,572       22,573,234        75.2
49                  .Utah    3,380,800        2,449,192        72.4
50               .Vermont      647,064          532,307        82.3
51              .Virginia    8,683,619        6,816,709        78.5
52            .Washington    7,785,786        6,139,213        78.9
53         .West Virginia    1,775,156        1,423,234        80.2
54             .Wisconsin    5,892,539        4,646,910        78.9
55               .Wyoming      581,381          451,267        77.6
56            Puerto Rico    3,221,789        2,703,450        83.9

Remove character "." from the Region column.

In [ ]:
df2['Region'] = df2['Region'].str.replace('.','')
df2

<ipython-input-6-162a291f7c3e>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2['Region'] = df2['Region'].str.replace('.','')

                  Region    Total_Pop Total_Pop_Over18 Perc_Over18
0          United States  333,287,557      260,836,730        78.3
1              Northeast   57,040,406       45,544,589        79.8
2                Midwest   68,787,595       53,626,659        78.0
3                  South  128,716,192      100,098,310        77.8
4                   West   78,743,364       61,567,172        78.2
5                Alabama    5,074,296        3,962,734        78.1
6                 Alaska      733,583          557,060        75.9
7                Arizona    7,359,197        5,770,187        78.4
8               Arkansas    3,045,637        2,348,518        77.1
9             California   39,029,342       30,523,315        78.2
10              Colorado    5,839,926        4,624,351        79.2
11           Connecticut    3,626,205        2,895,175        79.8
12              Delaware    1,018,396          810,269        79.6
13  District of Columbia      671,803          547,328        81.5
14               Florida   22,244,823       17,948,469        80.7
15               Georgia   10,912,876        8,402,753        77.0
16                Hawaii    1,440,196        1,142,870        79.4
17                 Idaho    1,939,033        1,475,629        76.1
18              Illinois   12,582,032        9,861,901        78.4
19               Indiana    6,833,037        5,263,114        77.0
20                  Iowa    3,200,517        2,476,028        77.4
21                Kansas    2,937,150        2,246,318        76.5
22              Kentucky    4,512,310        3,507,735        77.7
23             Louisiana    4,590,241        3,528,548        76.9
24                 Maine    1,385,340        1,137,442        82.1
25              Maryland    6,164,660        4,818,071        78.2
26         Massachusetts    6,981,974        5,644,540        80.8
27              Michigan   10,034,113        7,924,418        79.0
28             Minnesota    5,717,184        4,423,022        77.4
29           Mississippi    2,940,057        2,261,996        76.9
30              Missouri    6,177,957        4,813,049        77.9
31               Montana    1,122,867          889,114        79.2
32              Nebraska    1,967,923        1,491,246        75.8
33                Nevada    3,177,772        2,487,994        78.3
34         New Hampshire    1,395,231        1,142,307        81.9
35            New Jersey    9,261,699        7,267,590        78.5
36            New Mexico    2,113,344        1,653,831        78.3
37              New York   19,677,151       15,687,863        79.7
38        North Carolina   10,698,973        8,404,094        78.6
39          North Dakota      779,261          596,486        76.5
40                  Ohio   11,756,058        9,193,508        78.2
41              Oklahoma    4,019,800        3,066,654        76.3
42                Oregon    4,240,137        3,403,149        80.3
43          Pennsylvania   12,972,008       10,347,543        79.8
44          Rhode Island    1,093,734          889,822        81.4
45        South Carolina    5,282,634        4,164,762        78.8
46          South Dakota      909,824          690,659        75.9
47             Tennessee    7,051,339        5,513,202        78.2
48                 Texas   30,029,572       22,573,234        75.2
49                  Utah    3,380,800        2,449,192        72.4
50               Vermont      647,064          532,307        82.3
51              Virginia    8,683,619        6,816,709        78.5
52            Washington    7,785,786        6,139,213        78.9
53         West Virginia    1,775,156        1,423,234        80.2
54             Wisconsin    5,892,539        4,646,910        78.9
55               Wyoming      581,381          451,267        77.6
56           Puerto Rico    3,221,789        2,703,450        83.9

Turn Population columns into float type in order to be used in the graphs.

In [ ]:
df2['Total_Pop'] = df2['Total_Pop'].str.replace(',', '').astype(float)
df2['Total_Pop_Over18'] = df2['Total_Pop_Over18'].str.replace(',', '').astype(float)
df2

                  Region    Total_Pop  Total_Pop_Over18 Perc_Over18
0          United States  333287557.0       260836730.0        78.3
1              Northeast   57040406.0        45544589.0        79.8
2                Midwest   68787595.0        53626659.0        78.0
3                  South  128716192.0       100098310.0        77.8
4                   West   78743364.0        61567172.0        78.2
5                Alabama    5074296.0         3962734.0        78.1
6                 Alaska     733583.0          557060.0        75.9
7                Arizona    7359197.0         5770187.0        78.4
8               Arkansas    3045637.0         2348518.0        77.1
9             California   39029342.0        30523315.0        78.2
10              Colorado    5839926.0         4624351.0        79.2
11           Connecticut    3626205.0         2895175.0        79.8
12              Delaware    1018396.0          810269.0        79.6
13  District of Columbia     671803.0          547328.0        81.5
14               Florida   22244823.0        17948469.0        80.7
15               Georgia   10912876.0         8402753.0        77.0
16                Hawaii    1440196.0         1142870.0        79.4
17                 Idaho    1939033.0         1475629.0        76.1
18              Illinois   12582032.0         9861901.0        78.4
19               Indiana    6833037.0         5263114.0        77.0
20                  Iowa    3200517.0         2476028.0        77.4
21                Kansas    2937150.0         2246318.0        76.5
22              Kentucky    4512310.0         3507735.0        77.7
23             Louisiana    4590241.0         3528548.0        76.9
24                 Maine    1385340.0         1137442.0        82.1
25              Maryland    6164660.0         4818071.0        78.2
26         Massachusetts    6981974.0         5644540.0        80.8
27              Michigan   10034113.0         7924418.0        79.0
28             Minnesota    5717184.0         4423022.0        77.4
29           Mississippi    2940057.0         2261996.0        76.9
30              Missouri    6177957.0         4813049.0        77.9
31               Montana    1122867.0          889114.0        79.2
32              Nebraska    1967923.0         1491246.0        75.8
33                Nevada    3177772.0         2487994.0        78.3
34         New Hampshire    1395231.0         1142307.0        81.9
35            New Jersey    9261699.0         7267590.0        78.5
36            New Mexico    2113344.0         1653831.0        78.3
37              New York   19677151.0        15687863.0        79.7
38        North Carolina   10698973.0         8404094.0        78.6
39          North Dakota     779261.0          596486.0        76.5
40                  Ohio   11756058.0         9193508.0        78.2
41              Oklahoma    4019800.0         3066654.0        76.3
42                Oregon    4240137.0         3403149.0        80.3
43          Pennsylvania   12972008.0        10347543.0        79.8
44          Rhode Island    1093734.0          889822.0        81.4
45        South Carolina    5282634.0         4164762.0        78.8
46          South Dakota     909824.0          690659.0        75.9
47             Tennessee    7051339.0         5513202.0        78.2
48                 Texas   30029572.0        22573234.0        75.2
49                  Utah    3380800.0         2449192.0        72.4
50               Vermont     647064.0          532307.0        82.3
51              Virginia    8683619.0         6816709.0        78.5
52            Washington    7785786.0         6139213.0        78.9
53         West Virginia    1775156.0         1423234.0        80.2
54             Wisconsin    5892539.0         4646910.0        78.9
55               Wyoming     581381.0          451267.0        77.6
56           Puerto Rico    3221789.0         2703450.0        83.9

Create dataset to work only with the States data.

In [ ]:
df3 = df2.iloc[5:57]
df3

                  Region   Total_Pop  Total_Pop_Over18 Perc_Over18
5                Alabama   5074296.0         3962734.0        78.1
6                 Alaska    733583.0          557060.0        75.9
7                Arizona   7359197.0         5770187.0        78.4
8               Arkansas   3045637.0         2348518.0        77.1
9             California  39029342.0        30523315.0        78.2
10              Colorado   5839926.0         4624351.0        79.2
11           Connecticut   3626205.0         2895175.0        79.8
12              Delaware   1018396.0          810269.0        79.6
13  District of Columbia    671803.0          547328.0        81.5
14               Florida  22244823.0        17948469.0        80.7
15               Georgia  10912876.0         8402753.0        77.0
16                Hawaii   1440196.0         1142870.0        79.4
17                 Idaho   1939033.0         1475629.0        76.1
18              Illinois  12582032.0         9861901.0        78.4
19               Indiana   6833037.0         5263114.0        77.0
20                  Iowa   3200517.0         2476028.0        77.4
21                Kansas   2937150.0         2246318.0        76.5
22              Kentucky   4512310.0         3507735.0        77.7
23             Louisiana   4590241.0         3528548.0        76.9
24                 Maine   1385340.0         1137442.0        82.1
25              Maryland   6164660.0         4818071.0        78.2
26         Massachusetts   6981974.0         5644540.0        80.8
27              Michigan  10034113.0         7924418.0        79.0
28             Minnesota   5717184.0         4423022.0        77.4
29           Mississippi   2940057.0         2261996.0        76.9
30              Missouri   6177957.0         4813049.0        77.9
31               Montana   1122867.0          889114.0        79.2
32              Nebraska   1967923.0         1491246.0        75.8
33                Nevada   3177772.0         2487994.0        78.3
34         New Hampshire   1395231.0         1142307.0        81.9
35            New Jersey   9261699.0         7267590.0        78.5
36            New Mexico   2113344.0         1653831.0        78.3
37              New York  19677151.0        15687863.0        79.7
38        North Carolina  10698973.0         8404094.0        78.6
39          North Dakota    779261.0          596486.0        76.5
40                  Ohio  11756058.0         9193508.0        78.2
41              Oklahoma   4019800.0         3066654.0        76.3
42                Oregon   4240137.0         3403149.0        80.3
43          Pennsylvania  12972008.0        10347543.0        79.8
44          Rhode Island   1093734.0          889822.0        81.4
45        South Carolina   5282634.0         4164762.0        78.8
46          South Dakota    909824.0          690659.0        75.9
47             Tennessee   7051339.0         5513202.0        78.2
48                 Texas  30029572.0        22573234.0        75.2
49                  Utah   3380800.0         2449192.0        72.4
50               Vermont    647064.0          532307.0        82.3
51              Virginia   8683619.0         6816709.0        78.5
52            Washington   7785786.0         6139213.0        78.9
53         West Virginia   1775156.0         1423234.0        80.2
54             Wisconsin   5892539.0         4646910.0        78.9
55               Wyoming    581381.0          451267.0        77.6
56           Puerto Rico   3221789.0         2703450.0        83.9

# Using Dash Plotly to create dashboard with the extracted data.

In [ ]:
! pip install dash   
! pip install dash-html-components                                         
! pip install dash-core-components                                     
! pip install plotly
! pip install jupyter-dash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dash
  Downloading dash-2.8.1-py3-none-any.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 52.2 MB/s eta 0:00:00
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from dash) (5.5.0)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.8/dist-packages (from dash) (1.1.4)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from Flask>=1.0.4->dash) (1.1.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.8/dist-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly>=5.0.0->dash) (8.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from plotly>=5.0.0->dash) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=1.0.4->dash) (2.0.1)
Installing collected packages: dash-table, dash-html-components, dash-core-components, dash
Successfully installed dash-2.8.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dash-html-components in /usr/local/lib/python3.8/dist-packages (2.0.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dash-core-components in /usr/local/lib/python3.8/dist-packages (2.0.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (5.5.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly) (8.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from plotly) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting jupyter-dash
  Downloading jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (2.25.1)
Requirement already satisfied: flask in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (1.1.4)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (5.3.4)
Collecting retrying
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (7.9.0)
Collecting ansi2html
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Requirement already satisfied: dash in /usr/local/lib/python3.8/dist-packages (from jupyter-dash) (2.8.1)
Collecting nest-asyncio
  Downloading nest_asyncio-1.5.6-py3-none-any.whl (5.2 kB)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.8/dist-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from dash->jupyter-dash) (5.5.0)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.8/dist-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.8/dist-packages (from dash->jupyter-dash) (5.0.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.8/dist-packages (from flask->jupyter-dash) (7.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.8/dist-packages (from flask->jupyter-dash) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.8/dist-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.8/dist-packages (from flask->jupyter-dash) (1.0.1)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter-dash) (6.0.4)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter-dash) (6.1.12)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from ipykernel->jupyter-dash) (5.7.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (2.0.10)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (57.4.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 20.7 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->jupyter-dash) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->jupyter-dash) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->jupyter-dash) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->jupyter-dash) (1.24.3)
Requirement already satisfied: six>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from retrying->jupyter-dash) (1.15.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->jupyter-dash) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from Jinja2<3.0,>=2.10.1->flask->jupyter-dash) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->jupyter-dash) (0.2.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.8/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (5.2.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.8/dist-packages (from jupyter-client->ipykernel->jupyter-dash) (23.2.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.8/dist-packages (from pexpect->ipython->jupyter-dash) (0.7.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core>=4.6.0->jupyter-client->ipykernel->jupyter-dash) (2.6.2)
Installing collected packages: retrying, nest-asyncio, jedi, ansi2html, jupyter-dash
Successfully installed ansi2html-1.8.0 jedi-0.18.2 jupyter-dash-0.4.2 nest-asyncio-1.5.6 retrying-1.3.4

In [ ]:
from jupyter_dash import JupyterDash
import dash
import plotly.graph_objects as go
import plotly.express as px
from dash import Dash, dcc, html, Input, Output, dash_table

In [ ]:
JupyterDash.infer_jupyter_proxy_config()

In [ ]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
filtered_df = df3
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
    html.H4('US Population by State'),
    
    dcc.Dropdown(id='dropdown',
        options=[{'label': 'Total Population', 'value': 'Total_Pop'},{'label': 'Population Over 18', 'value': 'Total_Pop_Over18'}],
        placeholder="Select",
        value='Total_Pop', clearable=False
    ),

    html.Br(),

    dcc.Graph(id="graph",style={'width': '100%'}),
    dcc.Graph(id="graph2")
])

@app.callback(
    Output('graph', 'figure'), 
    Output('graph2', 'figure'), 
    Input('dropdown', 'value')
)

def generate_chart(dropdown_value):
    pop_df = filtered_df
    if dropdown_value == 'Total_Pop':
      values = pop_df['Total_Pop']
      names = pop_df['Region']
      fig = px.pie(values=values, names=names, title='Total Population by State')

    if dropdown_value == 'Total_Pop_Over18':
      values = pop_df['Total_Pop_Over18']
      names = pop_df['Region']
      fig = px.pie(values=values, names=names, title='Population Over 18 by State')

    fig.update_layout(
        autosize=False,
        width=1000,
        height=600
    )
    #fig.update_yaxes(automargin=True)  
    fig.update_traces(textposition='inside', textinfo='percent+label')
    #fig.update_layout(uniformtext_minsize=12, uniformtext_mode='hide')
    fig.update_layout(legend_traceorder='normal')
    fig.update_layout(legend=dict(
          yanchor="top",
          y=0.99,
          xanchor="right",
          x=0.01
    ))

    values1 = pop_df['Total_Pop']
    values2 = pop_df['Total_Pop_Over18']
    names1 = pop_df['Region']
    fig2 = px.bar(pop_df, x=names1, y=[values1,values2], orientation='v', barmode='group')
    fig2.update_layout(
        title='US Total Population x Population Over 18',
        legend={'title_text':''},
        #labels={'Total_Pop': "Total Population", 'Total_Pop_Over18': "Population Over 18"}, 
        yaxis=dict(title='Population'),
        autosize=False,
        width=1000,
        height=600
    )

    return fig, fig2

In [ ]:
app.run_server(mode="inline")